@use "sass:map";
@use "~css/_mixins.scss" as mixins;

%block {
	.profidev-hero-routes {
		display: flex;
		position: relative;
		z-index: var(--base-z-index);
		color: var(--wp--preset--color--white);
		min-height: #{mixins.toRem(750px)};
		padding: calc(var(--theme-fallback-header-height) * 2) 0
			var(--theme-fallback-header-height);
		padding: #{mixins.toRem(163px)} 0 #{mixins.toRem(48px)} 0;

		.hero-routes-bg {
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@include mixins.breakpoint(lg) {
			min-height: 70vh;
		}

		@include mixins.breakpoint(md) {
			min-height: 40vh;
			padding-top: #{mixins.toRem(157px)};
		}

		@include mixins.breakpoint(sm) {
			padding-top: #{mixins.toRem(127px)};
		}

		> .theme-image-wrapper {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			.copyright {
				display: none;
			}
		}

		.theme-container {
			display: flex;

			.theme-grid {
				justify-content: space-between;
			}
		}

		.theme-text-element {
			max-width: #{mixins.toRem(500px)};
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;

			@include mixins.breakpoint(md) {
				justify-content: flex-start;
			}

			> * {
				margin: #{mixins.toRem(16px)} 0;
			}

			h1 {
				margin: 0;
				line-height: 1;
				max-width: #{mixins.toRem(430px)};
				font-size: #{mixins.toRem(60px)};

				@include mixins.breakpoint(md) {
					font-size: #{mixins.toRem(48px)};
				}

				@include mixins.breakpoint(sm) {
					font-size: #{mixins.toRem(36px)};
				}

				span {
					color: var(--wp--preset--color--color-11);

				}
			}

			p {
				@include mixins.breakpoint(md) {
					font-size: var(--theme-fs-xl);
				}

				@include mixins.breakpoint(sm) {
					font-size: var(--theme-fs-lg);
				}

			}
		}

		.wp-block-buttons {
			margin: #{mixins.toRem(8px)} 0;
			gap: #{mixins.toRem(8px)};

			.wp-element-button {
				border-radius: var(--theme-br-sm);
				line-height: 1.75;
				font-size: var(--theme-fs-lg);
				letter-spacing: -0.02em;
				color: var(--wp--preset--color--black);
				background-color: var(--wp--preset--color--color-13);

				@include mixins.breakpoint(md) {
					line-height: 1.5;
					padding: #{mixins.toRem(12px)} #{mixins.toRem(16px)};
				}
			}

			.is-style-white .wp-element-button {
				background-color: var(--wp--preset--color--white);
			}
		}

		.wp-block-text {
			font-weight: 500;
			font-size: #{mixins.toRem(14px)};
			line-height: 1.5;
			color: rgba(255, 255, 255, 0.82);

			@include mixins.breakpoint(sm) {
				font-size: var(--theme-fs-md);
			}

			&::before {
				content: none;
				display: inline-block;
				width: 0.0625rem;
				height: 100%;
				margin: 0 #{mixins.toRem(12px)};
				border-radius: 0.0625rem;
				background: rgba(255, 255, 255, 0.25);
				opacity: 0.65;
			}

			span {
				display: inline-block;

				&:first-child {
					&::after {
						content: "";
						display: inline-block;
						width: #{mixins.toRem(1px)};
						height: #{mixins.toRem(16px)};
						margin: 0 #{mixins.toRem(12px)};
						border-radius: 0.0625rem;
						background: rgba(255, 255, 255, 0.25);
						opacity: 0.65;
					}
				}
			}
		}

		//popular-blocks
		.popular-blocks {
			.title {
				font-weight: 400;
				font-size: var(--theme-fs-sm);
				letter-spacing: -0.04em;
				text-transform: uppercase;
				color: rgba(255, 255, 255, 0.5);
				margin-bottom: #{mixins.toRem(10px)};
			}

			.wp-block-buttons {
				gap: #{mixins.toRem(4px)};
				flex-wrap: wrap;

				.wp-block-button__link {
					border: var(--theme-border-width) solid rgba(255, 255, 255, 0.25);
					border-radius: #{mixins.toRem(30px)};
					padding: #{mixins.toRem(7px)} #{mixins.toRem(15px)};
					font-weight: 500;
					font-size: var(--theme-fs-sm);
					line-height: 1.5;
					letter-spacing: -0.03em;
					color: var(--wp--preset--color--white);
					background: rgba(255, 255, 255, 0.07);
				}
			}
		}

		// start profidev-hero-slider
		profidev-hero-slider {
			width: 100%;
			max-width: #{mixins.toRem(412px)};

			@include mixins.breakpoint(xl){
				display: none;
			}
		}

		.profidev-hero-route-card {
			background: var(--wp--preset--color--black);
			border-radius: #{mixins.toRem(16px)};
		}

		.route-media {
			position: relative;
			width: #{mixins.toRem(412px)};

			.route-badge {
				position: absolute;
				top: #{mixins.toRem(8px)};
				left: #{mixins.toRem(8px)};
				border-radius: #{mixins.toRem(100px)};
				padding: #{mixins.toRem(4px)} #{mixins.toRem(12px)};
				font-weight: 600;
				font-size: var(--theme-fs-sm);
				line-height: var(--theme-lh-body-lg);
				letter-spacing: -0.03em;
				text-transform: uppercase;
				color: var(--wp--preset--color--color-12);
				background: var(--wp--preset--color--white);
			}

			.route-img {
				width: #{mixins.toRem(412px)};
				height: #{mixins.toRem(220px)};
				border-radius: #{mixins.toRem(16px)} #{mixins.toRem(16px)} 0 0;
				object-fit: cover;
			}
		}

		.route-content{
			padding: 0 #{mixins.toRem(16px)} #{mixins.toRem(56px)} #{mixins.toRem(16px)};

			.route-title {
				margin: 0;
				font-weight: 400;
				font-size: var(--theme-fs-h5);
				letter-spacing: -0.03em;
				color: var(--wp--preset--color--white);
			}

			.route-specs {
				display: flex;
				justify-content: space-between;
				margin: #{mixins.toRem(8px)} 0 #{mixins.toRem(16px)} 0;
				font-size: var(--theme-fs-lg);
				line-height: var(--theme-lh-body);
				background: rgba(255, 255, 255, 0.06);
				color: var(--wp--preset--color--white);

				li {
					display: flex;
					align-items: center;
					gap: #{mixins.toRem(4px)};
				}
			}

			.route-review {
				border: var(--theme-border-width) solid rgba(255, 255, 255, 0.14);
				border-radius: var(--theme-br-sm);
				padding: #{mixins.toRem(15px)} #{mixins.toRem(20px)};

				.review-stars{
					color: var(--wp--preset--color--color-13);
				}

				.review-text {
					margin: #{mixins.toRem(4px)} 0;
					font-weight: 500;
					font-size: var(--theme-fs-md);
					line-height: 1.5;
					letter-spacing: -0.03em;
					color: var(--wp--preset--color--white);
				}

				.review-author {
					font-weight: 400;
					font-size: var(--theme-fs-sm);
					font-style: normal;
					line-height: var(--theme-lh-body);
					color: rgba(255, 255, 255, 0.6);
				}
			}

			.route-actions {
				padding-top: #{mixins.toRem(12px)};

				.theme-button-primary {
					display: flex;
					align-items: center;
					justify-content: center;
					border: none;
					border-radius: var(--theme-br-sm);
					padding: #{mixins.toRem(12px)} #{mixins.toRem(24px)};
					width: 100%;
					height: #{mixins.toRem(48px)};
					box-shadow: 0 #{mixins.toRem(10px)} #{mixins.toRem(60px)} 0
						rgba(0, 0, 0, 0.1);
					background-color: var(--wp--preset--color--color-13);
					color: var(--wp--preset--color--black);
				}
			}
		}

		.theme-slider-controls {
			position: absolute;
			bottom: #{mixins.toRem(12px)};
			left: 0;
			z-index: 1;
			width: 100%;
			margin: 0;

			.slider-pagination .swiper-pagination-bullet {
					display: block;
					width: #{mixins.toRem(8px)};
					height: #{mixins.toRem(8px)};
					border-radius: 50%;
					background-color: var(--wp--preset--color--white);
					opacity: 0.5;
					cursor: pointer;
					transition: opacity var(--theme-transition);

					&.swiper-pagination-bullet-active {
						opacity: 1;
					}
				}

		}
		// stop profidev-hero-slider
	}
}
