@use "sass:map";
@use "~css/_mixins.scss" as mixins;

%block {
    .profidev-text {
        margin: var(--theme-section-gap) 0;

        .theme-text-element {
            h1, h2, h3, h4, h5, h6 {
                margin: 1em 0 0.5em;

                @include mixins.breakpoint(md) {
                    margin: 1.2em 0 0.6em;
                }
            }
        }
    }
}