@use "sass:map";
@use "~css/_mixins.scss" as mixins;

%block {
	.profidev-feature-cards {
		margin: var(--theme-section-gap) 0;

		> .theme-image-wrapper {
			width: 100%;
			height: #{mixins.toRem(495px)};

			@include mixins.breakpoint(lg) {
				height: #{mixins.toRem(350px)};
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			+ .cards-list {
				margin-top: #{mixins.toRem(-70px)};
			}
		}

		.cards-list {
			position: relative;
			z-index: var(--base-z-index);

			.item:last-child .cards-item .description::before {
				content: none;
			}
		}

		.cards-list-wrapper {
			--horizontal-gap: 0px;
			--vertical-gap: 0px;

			@include mixins.breakpoint(lg) {
				--number-of-items: 1;
				border: var(--theme-border) var(--theme-border-color);
			}
		}

		.cards-item {
			display: block;
			padding: #{mixins.toRem(30px)};
			height: 100%;
			background-color: var(--wp--preset--color--white);
			border: var(--theme-border) var(--theme-border-color);

			@include mixins.breakpoint(xl) {
				padding: #{mixins.toRem(20px)};
			}

			@include mixins.breakpoint(lg) {
				padding: #{mixins.toRem(40px)} #{mixins.toRem(50px)};
				border: none;
			}

			@include mixins.breakpoint(sm) {
				padding: #{mixins.toRem(20px)} #{mixins.toRem(16px)};
			}

			> .theme-image-wrapper {
				height: #{mixins.toRem(194px)};
				width: 100%;
				justify-content: center;
				align-items: center;
				background-color: var(--wp--preset--color--color-2);
				padding: #{mixins.toRem(20px)} #{mixins.toRem(30px)};
				margin-bottom: #{mixins.toRem(20px)};

				img {
					min-width: #{mixins.toRem(69px)};
					max-height: 100%;
					width: fit-content;
				}

				.copyright {
					display: none;
				}
			}

			.description {
				position: relative;
				display: flex;
				flex-direction: column;
				gap: #{mixins.toRem(10px)};

				&::before {
					content: none;
					position: absolute;
					bottom: #{mixins.toRem(-40px)};
					left: 0%;
					width: 100%;
					height: #{mixins.toRem(1px)};
					background-color: var(--theme-border-color);
					z-index: var(--base-z-index);

					@include mixins.breakpoint(lg) {
						content: "";
					}

					@include mixins.breakpoint(sm) {
						bottom: #{mixins.toRem(-20px)};
					}
				}
			}

			.title {
				font-weight: 500;
			}

			.subtitle {
				font-weight: 400;
				opacity: 0.77;
			}

			.theme-text-element {
				@media (min-width: calc(map.get(mixins.$breakpoints, md) + 1px)) {
					font-size: calc(var(--theme-fs-lg) - #{mixins.toRem(1px)});
				}
			}

			.theme-button-primary {
				--background-color: var(--wp--preset--color--color-1);
				--text-color: var(--wp--preset--color--white);
			}

			.read-more {
				font-size: var(--theme-fs-btn);
				text-decoration: underline;
				margin-top: #{mixins.toRem(20px)};
			}
		}

		&.template-2 {
			.cards-list-wrapper {
				--horizontal-gap: #{mixins.toRem(10px)};
				--vertical-gap: #{mixins.toRem(10px)};

				@include mixins.breakpoint(lg) {
					--number-of-items: 1;
					border: none;
				}
			}

			.cards-item {
				padding: 0;
				height: auto;
				border: var(--theme-border) var(--theme-border-color);

				> .theme-image-wrapper {
					margin-bottom: 0;
				}

				.description {
					padding: #{mixins.toRem(30px)} #{mixins.toRem(20px)};
				}

				.theme-text-element {
					position: relative;
					max-height: #{mixins.toRem(200px)};
					overflow: hidden;
					transition: max-height var(--theme-transition);

					&::before {
						content: '';
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background: linear-gradient(transparent 10%, var(--wp--preset--color--white) 100%);
						opacity: 1;
						transition: opacity var(--theme-transition);
					}

					&.is-visible {
						&::before {
							opacity: 0;
							pointer-events: none;
						}

						+ .read-more {
							display: none;
						}
					}

					&.is-active {
						max-height: unset;

						&::before {
							opacity: 0;
							pointer-events: none;
						}
					}
				}
			}
		}

		&.two-columns {
			.cards-list-wrapper {
				@media(min-width: calc(map.get(mixins.$breakpoints, lg) + 1px)) {
					--number-of-items: 2;
				}
			}

			.cards-item {
				@media(min-width: calc(map.get(mixins.$breakpoints, lg) + 1px)) {
					padding: #{mixins.toRem(60px)};
				}
			}
		}
	}
}
