.acf-admin-toolbar .acf-more ul li.acf-wp-engine {
	display: none;
}

.tmpl-acf-field-group-pro-features {
	display: none;
}

.acf-admin-toolbar .acf-admin-toolbar-inner .acf-nav-upgrade-wrap {
	display: none;
}
