<!-- wp:block {"ref":318} /-->

<!-- wp:profidev/hero-banner {"name":"profidev/hero-banner","data":{"background_image":117,"_background_image":"field_69b7dc0469c4d","align_vertical":"align-vertical-center","_align_vertical":"field_69b7daa5bdb1e","align_horizontal":"align-horizontal-center","_align_horizontal":"field_69b7dbc2bdb1f","align":"","_align":"field_69b7dc1869c4e","template":"template-2","_template":"field_69b7e2c05fe3e"},"mode":"preview","anchor":"block-69b7e0ab5424a"} -->
<!-- wp:heading {"level":1,"className":"has-text-align-center"} -->
<h1 class="wp-block-heading has-text-align-center">Members blog</h1>
<!-- /wp:heading -->
<!-- /wp:profidev/hero-banner -->

<!-- wp:profidev/blog-posts-paginate {"name":"profidev/blog-posts-paginate","mode":"preview","anchor":"block-69b7e8c7a2bac"} /-->

<!-- wp:block {"ref":271} /-->

<!-- wp:block {"ref":317} /-->