<!-- wp:block {"ref":318} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"},"TrpContentRestriction":{"restriction_type":"exclude","selected_languages":[],"panel_open":false}} -->
<main class="wp-block-group">
	<!-- wp:profidev/template-part {"name":"profidev/template-part","data":{"template":"single-route-hero","_template":"field_69bc0ffd0bea9","_force_refresh":1774028165622,"_profidev_refresh":1778831922095},"mode":"preview","anchor":"block-69bc135f99f0f"} /-->

	<!-- wp:profidev/template-part {"name":"profidev/template-part","data":{"field_69bc0ffd0bea9":"single-route-map","field_69d4fb643a701":"","field_69fb1087fe756":"","field_69fb1252e8404":"show","field_69fb12a4e8405":"display_message","field_69fb130aea353":"Route Map","field_69fb1318ea354":"\u003ch2 class=\u0022p1\u0022\u003eUnlock the full route map\u003c/h2\u003e\r\n\u003cp class=\u0022p1\u0022\u003eJoin Cycle Norway to access the full interactive map, elevation details and GPX files.\u003c/p\u003e","field_69fb135dea355":"38516"},"mode":"preview","anchor":"main-map"} /-->

	<!-- wp:profidev/template-part {"name":"profidev/template-part","data":{"field_69bc0ffd0bea9":"single-route-content","field_69bd55b32c632":"more-about","field_69d4fb643a701":"","field_69fb1087fe756":"","field_69fb1252e8404":"show","field_69fb12a4e8405":"hide","field_69fb130aea353":"Map","field_69fb1318ea354":"","field_69fb135dea355":"38259"},"mode":"preview","anchor":"block-69bd56cbb9fd3"} /-->

	<!-- wp:profidev/template-part {"name":"profidev/template-part","data":{"field_69bc0ffd0bea9":"single-route-gallery-grid","field_69d4fb643a701":"","field_69fb1087fe756":"","field_69fb1252e8404":"show","field_69fb12a4e8405":"hide","field_69fb130aea353":"Map","field_69fb1318ea354":"","field_69fb135dea355":""},"mode":"preview","anchor":"block-69bd5bce39225"} /-->

	<!-- wp:profidev/template-part {"name":"profidev/template-part","data":{"field_69bc0ffd0bea9":"single-route-testimonials","field_69d4fb643a701":"","field_69fb1087fe756":"","field_69fb1252e8404":"show","field_69fb12a4e8405":"hide","field_69fb130aea353":"Map","field_69fb1318ea354":"","field_69fb135dea355":""},"mode":"preview","anchor":"block-69c105a1c09a0"} /-->

	<!-- wp:profidev/template-part {"name":"profidev/template-part","data":{"field_69bc0ffd0bea9":"single-route-content","field_69bd55b32c632":"more-about-second","field_69d4fb643a701":"","field_69fb1087fe756":"","field_69fb1252e8404":"show","field_69fb12a4e8405":"hide","field_69fb130aea353":"Map","field_69fb1318ea354":"","field_69fb135dea355":""},"mode":"preview","anchor":"block-69c107468e522"} /-->

	<!-- wp:profidev/template-part {"name":"profidev/template-part","data":{"field_69bc0ffd0bea9":"single-route-more-information","field_69d4fb643a701":"","field_69fb1087fe756":"","field_69fb1252e8404":"show","field_69fb12a4e8405":"hide","field_69fb130aea353":"Map","field_69fb1318ea354":"","field_69fb135dea355":""},"mode":"preview","anchor":"block-69c109caef02a"} /-->

	<!-- wp:profidev/template-part {"name":"profidev/template-part","data":{"field_69bc0ffd0bea9":"single-route-content","field_69bd55b32c632":"highlights","field_69d4fb643a701":"","field_69fb1087fe756":"","field_69fb1252e8404":"show","field_69fb12a4e8405":"hide","field_69fb130aea353":"Map","field_69fb1318ea354":"","field_69fb135dea355":""},"mode":"preview","anchor":"highlights"} /-->

	<!-- wp:profidev/template-part {"name":"profidev/template-part","data":{"field_69bc0ffd0bea9":"single-route-gallery-slider","field_69d4fb643a701":"","field_69fb1087fe756":"","field_69fb1252e8404":"show","field_69fb12a4e8405":"hide","field_69fb130aea353":"Map","field_69fb1318ea354":"","field_69fb135dea355":""},"mode":"preview","anchor":"gallery-slider"} /-->

	<!-- wp:profidev/template-part {"name":"profidev/template-part","data":{"field_69bc0ffd0bea9":"single-route-content","field_69bd55b32c632":"must-know","field_69d4fb643a701":"","field_69fb1087fe756":"","field_69fb1252e8404":"show","field_69fb12a4e8405":"hide","field_69fb130aea353":"Map","field_69fb1318ea354":"","field_69fb135dea355":""},"mode":"preview","anchor":"must_known"} /-->

	<!-- wp:profidev/template-part {"name":"profidev/template-part","data":{"field_69bc0ffd0bea9":"single-route-content","field_69bd55b32c632":"accommodation","field_69d4fb643a701":"","field_69fb1087fe756":"","field_69fb1252e8404":"show","field_69fb12a4e8405":"hide","field_69fb130aea353":"Map","field_69fb1318ea354":"","field_69fb135dea355":""},"mode":"preview","anchor":"accommodation"} /-->

	<!-- wp:profidev/template-part {"name":"profidev/template-part","data":{"field_69bc0ffd0bea9":"single-route-youtube","field_69d4fb643a701":"","field_69fb1087fe756":"","field_69fb1252e8404":"show","field_69fb12a4e8405":"hide","field_69fb130aea353":"Map","field_69fb1318ea354":"","field_69fb135dea355":""},"mode":"preview","anchor":"youtube"} /-->

	<!-- wp:profidev/template-part {"name":"profidev/template-part","data":{"field_69bc0ffd0bea9":"single-route-content","field_69bd55b32c632":"transport","field_69d4fb643a701":"","field_69fb1087fe756":"","field_69fb1252e8404":"show","field_69fb12a4e8405":"hide","field_69fb130aea353":"Map","field_69fb1318ea354":"","field_69fb135dea355":""},"mode":"preview","anchor":"transport"} /-->

	<!-- wp:profidev/template-part {"name":"profidev/template-part","data":{"field_69bc0ffd0bea9":"single-route-content","field_69bd55b32c632":"safety","field_69d4fb643a701":"","field_69fb1087fe756":"","field_69fb1252e8404":"show","field_69fb12a4e8405":"hide","field_69fb130aea353":"Map","field_69fb1318ea354":"","field_69fb135dea355":""},"mode":"preview","anchor":"safety"} /-->

	<!-- wp:post-content {"mepr_protection_rule":38484,"align":"full","layout":{"type":"constrained"}} /-->

	<!-- wp:profidev/related-routes {"name":"profidev/related-routes","data":{"related_routes_title":"More routes in the area","_related_routes_title":"field_69c51d7040d4f","related_routes_routes":"","_related_routes_routes":"field_69c51d7f40d50","related_routes":"","_related_routes":"field_69c51e8303779","_profidev_refresh":1778831922116},"mode":"preview","anchor":"block-69e1f9f717616"} /-->
</main>
<!-- /wp:group -->

<!-- wp:block {"ref":271} /-->

<!-- wp:block {"ref":317} /-->
