<!-- wp:block {"ref":318} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
	<!-- wp:profidev/single-post {"name":"profidev/single-post","data":{"_profidev_refresh":1774606320693},"mode":"preview","anchor":"block-69c64a2144ab1"} -->
		<!-- wp:post-content {"mepr_protection_rule":38484,"mepr_protection_unauth":"hide","align":"full","layout":{"type":"constrained"}} /-->
		<!-- wp:post-excerpt {"mepr_protection_rule":38484,"mepr_protection_ifallowed":"hide"} /-->
	<!-- /wp:profidev/single-post -->

	<!-- wp:block {"ref":38527} /-->

	<!-- wp:profidev/related-posts {"name":"profidev/related-posts","data":{"_profidev_refresh":1774606320695},"mode":"preview","anchor":"block-69c657d116485"} /-->
</main>
<!-- /wp:group -->

<!-- wp:block {"ref":271} /-->

<!-- wp:block {"ref":317} /-->
